.banner-section {
  background: url("../../../assets/image/banner/banner-image-new.jpg");
  background-size: cover;

  height: 100vh;
  background-repeat: no-repeat;
}

// .half-bg {
//   background: url("../../../assets/image/banner/tired-man-sitting-floor-with-paper-document-piles-around-flat-illustration_74855-11145.jpg");
//   height: 70vh;
//   background-size: contain;
//   background-position: center;
//   border-radius: 30px;
//   background-repeat: no-repeat;
// }
